* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background-color: #ECE9D8;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.root {
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    padding: 2rem 1rem;

    & > aside {
      flex: 0 0 12rem;
      margin-right: 2rem;
      h1 {
          font-size: inherit;
          font-weight: normal;
          text-transform: uppercase;
          margin-bottom: 0.5rem;
      }
      li {
          list-style-type: none;
          margin-bottom: 0.5rem;
      }
    }

    & > main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    @media screen and (max-width: 50rem) {
        flex-direction: column;
    }
}

.box {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #919B9C;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &.small {
        max-width: 22rem;
    }

    &.medium {
        max-width: 44rem;
    }
}

.box-header {
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: #F9F9F4;
    border-bottom: 1px solid #E9EAEB;

    .box-title {
        font-weight: bold;
        flex-grow: 1;
    }

    & > button {
        margin: -0.5rem 0;

        & + button {
            margin-left: 0.5rem;
        }
    }
}

.box-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    transition: background 0.3s;

    & + .box-row {
        border-top: 1px solid #E9EAEB;
    }

    &.editting {
        background-color: #F2F6FC;
    }
}

.padding {
    padding: 1rem;

    &-top {
        padding-top: 1rem;
    }

    &-right {
        padding-right: 1rem;
    }

    &-bottom {
        padding-bottom: 1rem;
    }

    &-left {
        padding-left: 1rem;
    }
}

.margin {
    margin: 1rem;

    &-top {
        margin-top: 1rem;
    }

    &-right {
        margin-right: 1rem;
    }

    &-bottom {
        margin-bottom: 1rem;
    }

    &-left {
        margin-left: 1rem;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;

    &.spacing > * + * {
        margin-left: 1rem;
    }

    &.middle {
        align-items: center;
    }

    &.end {
        justify-content: flex-end;
    }

    &.space-between {
        justify-content: space-between;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;

    &.spacing > * + * {
        margin-top: 1rem;
    }

    &.stretch {
        align-items: stretch;
    }
}

a {
    color: #416aa0;
    text-decoration: underline;

    &:hover {
        color: #193d6c;
    }
}

button, input, textarea {
    font-family: inherit;
    font-size: inherit;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    display: block;
    background: #fff;
    color: #000;
    border: 1px solid #7F9DB9;
    padding: 0.4rem;
    border-radius: 2px;
    width: 100%;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(111, 152, 207, 0.7);
    }

    &:disabled {
        background: #F5F4EA;
        color: #C9C7BA;
        border-color: #C9C7BA;
    }
}

.field {
    margin-bottom: 1rem;

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;

        & > input,
        & > textarea  {
            margin-top: 0.5rem;
        }
    }
}

button,
.button {
    border: 1px solid #003C74;
    padding: 0.4rem 1rem;
    background: linear-gradient(180deg, #ffffff 0%, #F0F0EA 100%);
    color: #000;
    border-radius: 4px;
    box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.1);

    &:focus {
        outline: none;
        box-shadow: inset 0 0 0 2px rgba(111, 152, 207, 0.7);
    }

    &:hover {
        box-shadow: inset 0 0 0 2px rgba(238, 200, 128, 0.9);
    }

    &:active,
    &.active,
    &[aria-pressed="true"] {
        background: #E2E1D9;
        box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
    }

    &:disabled {
        background: #F5F4EA;
        color: #C9C7BA;
        border-color: #C9C7BA;
        box-shadow: none;
    }
}

.button-group {
    display: flex;
    & > button, & > .button {
        border-radius: 0;

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &:not(:last-child) {
            border-right: 0;
        }

        &:not(:disabled) + * {
            border-left-color: #003C74;
        }
    }
}

.info {
    background-color: #CDDDF3;
    border: 1px solid #6F98CF;
    box-shadow: inset 4px 0 0 #6F98CF;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;

    &.success {
        background-color: #D0F4CD;
        border: 1px solid #2FA724;
        box-shadow: inset 0.2rem 0 0 #2FA724;
    }

    &.warning {
        background-color: #F3E0CC;
        border: 1px solid #A86623;
        box-shadow: inset 0.2rem 0 0 #A86623;
    }
}

.loading {
    opacity: 0.5;
}

.comment-row {
    @media screen and (min-width: 60rem) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > :last-child {
            margin-left: 1rem;
        }
    }
}

.comment {
    border-left: 3px solid #919B9C;
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 0.9rem;

    .comment-header {
        display: flex;
        flex-wrap: wrap;
        & > * {
            white-space: nowrap;
            & + *::before {
                content: '\2022';
                display: inline-block;
                margin: 0 0.5em;
            }
        }
    }

    .comment-body {
        margin-top: 0.5rem;
        max-height: 2.5rem;
        line-height: 1.25rem;
        overflow: hidden;
        transition: max-height 0.3s;
    }

    .comment-actions {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.5rem;

        & > * + * {
            margin-left: 0.5em;
        }
    }

    &.approved {
        border-color: #50AF6D;
    }

    &.rejected {
        border-color: #AF5050;
    }
}
