name: Build edge Docker images

on:
  push:
    branches:
      - master

jobs:
  publish_to_docker_hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

    # - name: Set up QEMU
    #   uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push SQLite image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
        # platforms: linux/amd64,linux/arm64,linux/arm/v7
          platforms: linux/amd64
          push: true
          tags: nielssp/uncomment:edge-sqlite

      - name: Build and push PostgreSQL image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          build-args: features=postgres
        # platforms: linux/amd64,linux/arm64,linux/arm/v7
          platforms: linux/amd64
          push: true
          tags: nielssp/uncomment:edge-postgres
